body {
  background-color: #fff;
  color: #343a40;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin-bottom: 60px;
  letter-spacing: 0.5px;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  background-color: #212529;
}

.container {
  margin: 0 auto;
  width: 80%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 76px;
}

.contact {
  color: #f8f9fa;
  letter-spacing: 0.4px;
}

.header__title {
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 16px;
  padding-top: 7px;
}
/* end header */

.profile {
  margin-top: 120px;
}

.profile__header {
  color: #212529;
  padding: 0 0 24px 0;
  text-align: left;
}
.profile__header h4 {
  color: #212529;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #212529;
  width: 120px;
  padding-bottom: 5px;
}

.profile__body.container p {
  letter-spacing: 0.5px;
  line-height: 1.2;
}
/* end profile */

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 120px;
}
.details__left,
.details__right {
  display: flex;
  flex-direction: column;
}
.details__left h4,
.details__right h4 {
  color: #212529;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}
.details__left {
  border-right: 1px solid #343a40;
  border-color: #343a40;
  width: 20%;
  padding-right: 145px;
  display: flex;
  flex-direction: column;
}
.details__skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details__left-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p.skill-item {
  padding: 16px 0 0px 0;
}
/* end details left */

.details__right {
  width: 60%;
}
.details__right h4 {
  padding-left: 40px;
}

.details__left-education {
  margin-top: 60px;
}

.details__left-education h4 {
  color: #212529;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.education {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* end sidebar */

.experience__items-item {
  padding-bottom: 60px;
}
.item-company,
.item-title,
.item-location,
.item-year {
  padding-top: 8px;
}
p.item-company {
  color: #212529;
  font-size: 16px;
}
p.item-title {
  color: #212529;
  font-weight: bold;
  font-size: 16px;
  padding-top: 8px;
}
.item-year {
  padding-bottom: 24px;
}
.item-bullets {
  padding: 7px 0;
}
/* end experience */
